.pic {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
.pic img {
  display: block;
  width: 100%;
}
.ewm {
  position: absolute;
}
.ewm-lf {
  top: 0;
  left: -170px;
}
.ewm-rt {
  top: 0;
  right: -170px;
}
.ewm-rt ul {
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 130px;
  text-align: center;
}
.ewm-rt ul li {
  margin-top: 10px;
}
.ewm-rt ul li input {
  padding: 4px 0;
  width: 100%;
  border: 1px #d42317 solid;
  font-size: 1.4rem;
}
.ewm-rt ul li input[type="text"] {
  text-indent: 7px;
}
.ewm-rt ul li button {
  width: 100%;
  border: 1px #d42317 solid;
  padding: 4px 0;
  background: #d42317;
  color: #fff;
  font-size: 1.4rem;
}
.sign {
  display: none;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.mask .box-correct,
.mask .box-error {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 0;
  width: 250px;
  text-align: center;
  background: #fff;
}
.mask .box-correct .icon img,
.mask .box-error .icon img {
  width: 48px;
  height: 48px;
}
.mask .box-correct p,
.mask .box-error p {
  font-size: 2rem;
}
.mask .box-correct em,
.mask .box-error em {
  font-size: 1.2rem;
}
.mask .box-correct .btn,
.mask .box-error .btn {
  padding: 25px 0 0 0;
}
.mask .box-correct .btn span,
.mask .box-error .btn span {
  display: inline-block;
  padding: 7px 15px;
  background: #0095d9;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.mask .box-correct {
  display: none;
}
.mask .box-error {
  display: none;
}
.tels {
  display: none;
}
@media only screen and (max-width: 768px) {
  .pic {
    width: auto;
    margin-bottom: 60px;
  }
  .ewm img {
    display: none;
  }
  .sign {
    display: box;
    display: -webkit-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.9);
  }
  .sign .sign-left {
    box-flex: 6.0;
    -webkit-box-flex: 6.0;
    padding: 0 10px;
  }
  .sign .sign-left ul li input {
    border: none;
    text-align: center;
    width: 100%;
    padding: 4px 0;
    border-radius: 5px;
    font-size: 1.6rem;
  }
  .sign .sign-left ul li:nth-child(1) {
    margin-bottom: 6px;
  }
  .sign .sign-right {
    box-flex: 4.0;
    -webkit-box-flex: 4.0;
    padding: 0 10px 0 0;
  }
  .sign .sign-right span {
    display: block;
    color: #fff;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 20px 0;
    background: #0464e6;
    text-align: center;
    border-radius: 10px;
  }
  .mask .box-correct,
  .mask .box-error {
    top: 25%;
  }
  .tels {
    display: block;
    position: fixed;
    right: 0;
    top: 30%;
    width: 9%;
  }
  .tels img {
    width: 100%;
  }
}
